<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title"><%= @user.name %></h3>
          </div>
          <div class="panel-body">
             <img "media-object img-rounded" src = "<%= gravatar_url(@user, { size: 300 }) %>" alt="">
          </div>
      </div>
      <%= render "relationships/follow_button", user: @user %>
   </aside>
     
    
    <div class="col-xs-8">
       <ul class = "nav nav-tab nav-justified">
          <li class ="<%= "active" if current_page?(user_path(@user))%>"><%= link_to user_path(@user) do %>投稿<span class = "badge"><%= @count_microposts %></span><% end %></li>
          <li class ="<%= "active" if current_page?(followings_user_path(@user))%>"><%= link_to followings_user_path(@user) do %>フォロー一覧<span class = "badge"><%= @count_followings %></span><% end %></li>
          <li class ="<%= "active" if current_page?(followers_user_path(@user))%>"><%= link_to followers_user_path(@user) do %>フォロワー一覧<span class = "badge"><%= @count_followers %></span><% end %></li>
          <li class ="<%= "active" if current_page?(likes_user_path(@user))%>"><%= link_to likes_user_path(@user) do %>お気に入り一覧<span class = "badge"><%= @count_likes %></span><% end %></li>
      </ul>
    
    <%= render "users", users: @followings %>
    </div>
</div>
      