<h3><%= @user.name %></h3>

    <img src = "<%= gravatar_url(@user, { size: 500 }) %>" alt="">


    <ul class = "nav nav-tab nav-justified">
      <li class ="<%= "active" if current_page?(user_path(@user))%>"><%= link_to user_path(@user) do %>投稿<span class = "badge"><%= @count_microposts %></span><% end %></li>
      <li><a href="#">Followings</a></li>
      <li><a href="#">Followers</a></li>
    </ul>
    
    <%= render "microposts/microposts", microposts: @microposts %>
      
      
      
      
      
      
    