<% if logged_in? %>
  <aside>
  <%= form_for(@micropost) do |f| %>
    <%= f.text_area :content, class: "form-control"%>
    <%= f.submit "投稿", class: 'btn btn-primary btn-block' %>
    
  <% end %>
  </aside>
  
  <%= render 'microposts/microposts', microposts: @microposts %>
<% else %>

<div class="center jumbotron">
  <div class = "text-center">
     <h1>Welcome to the Microposts</h1>
     <%= link_to " 新規登録", signup_path, class: "btn btn-primary" %>
  </div>
</div>

<% end %>