<ul class = "media-list">
   <% microposts.each do |micropost| %>
  <li class="media">
      <div class="media-left">
         <img src= "<%= gravatar_url(micropost.user, { size: 50}) %>" alt="" >
      </div>
      <div class="media-body">
         <div>
             <%= link_to micropost.user.name, user_path(micropost.user) %>
             <span>投稿日時<%= micropost.created_at %></span>
         </div>
          <div>
              <p><%= micropost.content %></p>
          </div>
          <div>
            <% if current_user == micropost.user %>
            <%= link_to "削除", micropost, method: :delete, data: { confirm: "本当に？"},class: 'btn btn-danger btn-xs' %>
            <% end %> 
          </div>
      </div>
   </li>
        
  <% end %>
    <%= paginate microposts %>
 </ul>